body.light-theme {
  background-color: #E0E0E0;
  color: #000;
}

body.light-theme {
  --bg-color: #E0E0E0;
  --text-color: #000;
  --text-rgb: 19, 43, 129;
  --card-bg: #ffffff;
  --primary-color: #c9a96e;
  --secondary-color: #1d89a6;
  --border-color: rgba(36, 121, 171, 0.15);
  --shadow-color: rgba(19, 43, 129, 0.12);
}
