<nav class="custom-navbar" [class.scrolled]="scrolled">
  <div class="container navbar-content">
    <img src="/legalgroup_logo.png" class="logo-img">
    <a class="navbar-brand secondary-color" routerLink="/">LegalGroup</a>

    <ul class="nav-links" [class.open]="menuOpen">
      <li><a [routerLink]="['/']" fragment="home" (click)="menuOpen = false">Inicio</a></li>
      <li><a [routerLink]="['/']" fragment="about" (click)="menuOpen = false">Sobre nosotros</a></li>
      <li><a [routerLink]="['/']" fragment="mision" (click)="menuOpen = false">Misión y Visión</a></li>
      <li><a [routerLink]="['/']" fragment="services" (click)="menuOpen = false">Servicios</a></li>
      <li><a [routerLink]="['/']" fragment="contact" (click)="menuOpen = false">Contacto</a></li>
    </ul>

    <div class="navbar-actions">
      <button class="theme-toggle" (click)="toggleTheme()" aria-label="Cambiar tema">
        {{ isDark ? '☀️' : '🌙' }}
      </button>

      <button class="menu-toggle" (click)="toggleMenu()" aria-label="Abrir menú">
        <span class="bar" [class.animate]="menuOpen"></span>
        <span class="bar" [class.animate]="menuOpen"></span>
        <span class="bar" [class.animate]="menuOpen"></span>
      </button>
    </div>
  </div>
</nav>
